nodered/2022.04.16_wireless_sensor_network_flows.json
[{"id":"3b47c3a6.bce684","type":"tab","label":"Send one second timestamp via mqtt","disabled":false,"info":""},{"id":"21775b70.7d109c","type":"tab","label":"sky light","disabled":false,"info":""},{"id":"a5f71ef8.1f3a3","type":"tab","label":"temps (new flow)","disabled":false,"info":""},{"id":"c3aab26b.4800e8","type":"mqtt-broker","name":"pi 3 MQTT broker","broker":"192.168.2.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32c91434.3dd3ec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-Red Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9a4b0542.6f0d1","type":"ui_tab","name":"Main","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"4aa9083d.303b88","type":"ui_group","name":"graphs","tab":"9a4b0542.6f0d1","order":1,"disp":false,"width":"14","collapse":false,"className":""},{"id":"3d29f607.a3ec72","type":"inject","z":"3b47c3a6.bce684","name":"one second timestamp","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":190,"y":100,"wires":[["f867594.901f328"]]},{"id":"f867594.901f328","type":"mqtt out","z":"3b47c3a6.bce684","name":"pi 3 mqtt broker","topic":"","qos":"","retain":"","broker":"c3aab26b.4800e8","x":430,"y":120,"wires":[]},{"id":"5eb4f2da.3dc2c4","type":"mqtt in","z":"21775b70.7d109c","name":"listen to sky light (lux)","topic":"light/001","qos":"0","datatype":"utf8","broker":"c3aab26b.4800e8","nl":false,"rap":false,"inputs":0,"x":340,"y":180,"wires":[["81a32255.cc3058"]]},{"id":"81a32255.cc3058","type":"ui_chart","z":"21775b70.7d109c","name":"graph sky light","group":"4aa9083d.303b88","order":3,"width":0,"height":0,"label":"sky light (lux)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"8","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":200,"wires":[[]]},{"id":"c019d520.964dc8","type":"ui_chart","z":"a5f71ef8.1f3a3","name":"graph temps","group":"4aa9083d.303b88","order":1,"width":0,"height":0,"label":"temperature (F)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3584e4","#f5c211","#e66100","#2ca02c","#000000","#9141ac","#ff9896","#99c1f1","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":810,"y":140,"wires":[[]]},{"id":"87e9e785.6ffb6","type":"mqtt in","z":"a5f71ef8.1f3a3","name":"listen for lowres temps","topic":"temp/lowres/#","qos":"0","datatype":"utf8","broker":"c3aab26b.4800e8","inputs":0,"x":340,"y":140,"wires":[["5ddb97ddf2550ee3"]]},{"id":"8deb75ce.9fb848","type":"mqtt in","z":"a5f71ef8.1f3a3","name":"listen to outdoor air pressure","topic":"pressure/002","qos":"0","datatype":"utf8","broker":"c3aab26b.4800e8","inputs":0,"x":350,"y":260,"wires":[["1bd2d017.e9d628"]]},{"id":"1bd2d017.e9d628","type":"ui_chart","z":"a5f71ef8.1f3a3","name":"graph outdoor air pressure","group":"4aa9083d.303b88","order":2,"width":0,"height":0,"label":"outdoor air pressure (hPa)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"950","ymax":"1025","removeOlder":"8","removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":280,"wires":[[]]},{"id":"5ddb97ddf2550ee3","type":"function","z":"a5f71ef8.1f3a3","name":"convert to F","func":"var temp = msg.payload;\nmsg.payload = (temp * 9/5) + 32\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":140,"wires":[["c019d520.964dc8"]]}]